@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e2124;
  
}

@layer base {
  @font-face {
      font-family: "logofont";
      src: url('././assets/logofont.otf') format('otf');
  }
}
